/* *{
	border: 1px solid black;
} */

@font-face {
	font-family: "Marilou";
	src: url('ressources/typo/crimson_foam/Crimson Foam Font.otf');
}

@font-face {
	font-family: "Depuis1945";
	src: url('ressources/typo/caviar_dreams/CaviarDreams_Italic.ttf');
}

html, body{
	margin: 0;
	width: 100%;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(selection/entreprise_back1_1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;

}

/* ########## Nav and Header ########### */

nav{
	height: 0px;
	margin: 0px;
	padding: 0px;
	width: 30vw;
	border: 0;
	color: black;
	position: sticky;
	top: 2vh;
	z-index: 2;
}

nav li{
	list-style: none;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all .3s;
	display: block;
	width: 30vw;
}

nav li:hover{
	text-decoration: underline;
}

nav a{
	text-decoration: none;
	color: white;
	/* font-family: "Depuis1945";
	font-size: 14px; */
}

.menu{
	height: 20px;
	width: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.menu .tiret{
	height: 3px;
	width: 20px;
	background-color: white;
}

.hide{
	display: none;
	transition-property: display;
	transition-duration: 5s;
}

nav:hover .hide{
	display: inline;
}

.header_space_acceuil{
	height: 45vh;
}

.header_space{
	height: 15vh;
}

.monbeaumeuble{
	text-decoration: none;
	display: block;
	color: white;
	background-color: #482828;
	padding-top: 10px;
	padding-bottom: 0px;
	text-indent: 0;
	line-height: 10vh;
	opacity: 0.9;
	z-index: 1;
	font-family: "Marilou";
	font-weight: lighter;
	font-size: 100px;;
}


header{
	height: 10vh;
	width: 100%;
	position: sticky;
	text-align: center;
	top: 0;
}

/* ########## Accueil ########### */

.accueil{
	background-color: white;
}

/* ########## Presentation ########### */

.presentation{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.presentation img{
	margin: 10px;
}

/* ########## Entreprise ########### */

.entreprise{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	color: #482828;
}

.entreprise p{
	text-align: justify;
}

hr{
	width: 80%;
	border: 1px solid black;
}

.titre_section{
	text-align: center;
	font-family: "Depuis1945";
	font-size: 4em;
	text-decoration: underline;
}

.histoire{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.histoire article{
	align-self: center;
	width: 80%;
}

.titre_article{
	text-align: center;
	font-family: "Depuis1945";
	font-size: 3em;
}

article>p{
	font-size: 1.2em;
	font-family: 'Poiret One', cursive;
}

.histoire article > img{
	margin: 15px;
}

.histoire article > .droite{
	height: 40vh;
	width: 40vw;
	object-fit: cover;
	float: right;
}

.histoire article > .gauche{
	height: 40vh;
	width: 40vw;
	object-fit: cover;
	float: left;
}

/* ########## Réalisations ########### */

.main_realisations{
	background-color: white;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.realisations{
	width: 80vw;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
	align-items: flex-start;
}

.realisations .colonne{
	/* width: 20vw; */
	display: flex;
	flex-flow: nowrap column;
	justify-content: flex-start;
	align-items: center;
}

.realisations .pola{
	border: 1px solid #482828;
	margin: 20px;
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.realisations .pola:hover{
	box-shadow: 0px 0px 10px #482828;
}

.pola img{
	border: 1px solid #482828;
	height: auto;
	width: 90%;
	margin-top: 10px;
	object-fit: cover;
}

.realisations details{
	text-align: center;
	height: 10vh;
	width: 90%;
	color: #482828;
}

/* ########## Contact ########### */

.main_contact{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.section_devis{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.section_devis >p{
	text-align: center;
	width: 40%;
}

.form_devis{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_devis input{
	width: 100%;
}

.coord_descript{
	display: flex;
}
.coord_descript .coord {
	width: 20vw;
}

.coord_descript .description{
	width: 50vw;
}

.form_devis .piece-jointe{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form_devis label{
	width: 50%;
}

fieldset{
	border: 2px groove #482828;;
}

textarea {
	width: 100%;
	resize: none;
}

.button_contact{
	background-color: #482828;
	color: white;
	width: 15vw;
	border: none;
	margin: 10px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.coordonnees{

	display: flex;
	flex-direction: row;
}

.adress_map{
	width: 20vw;
	background-color: #482828;
	opacity: 0.9;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.coordonnees iframe{
	width: 60vw;
}

.phone_number{
	text-decoration: none;
	color: white;
	padding:10px;
	border: 1px solid white;
}

.logo_contact{
	height: auto;
	width: 8vw;
}


/* ########## Footer ########### */


footer{
	display: block;
	/* height: 50vh; */
	background-color: white;
	margin: 0px;
	opacity: 0.9;
	/* font-family: "Depuis1945"; */

}

footer section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #482828;
}

.plan_site{
	color: #482828;
}

.plan_site a{
	color: #482828;
}

.plan_site a:hover{
	text-decoration: none;
}

.reseaux{
	text-align: center;
}

footer .reseaux ul{
	padding: 0;
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: flex-start;
}

.logo_reseau{
	height: 10vh;
	margin: 10px;
}

.mentions{
	margin: 0px;
	padding: 0px;
	height: 5vh;
	line-height: 5vh;
	background-color: #482828;
	opacity: 0.9;
	/* font-family: "Depuis1945"; */

}




/* Page Presentation */

.essence-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px;
}


.un-container
{
	width: 80vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 30px;
	justify-content: center;
	font-family: 'Poiret One', cursive;
    padding-left: 10px;
}

.un-container p{
	text-align: justify;
}

.un-container img
{
	max-width: 50%;
}


/* Overlay presentation essences */

* {box-sizing: border-box;}

.containeravatar {
  /* position: relative; */
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
}

.overlay {
  /* position: absolute;  */
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 50%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: "Depuis1945";
}

.containeravatar:hover .overlay {
  opacity: 1;
}


/* Page Accueil */

.categorie-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
}

.mobilier1-container img
{
	max-width: 100%;
	padding: 10px;
}


.mobilier1-container
{
   display: flex;
   flex-direction: column;
   background-color: #482828;
   color: white;
   font-family: "Depuis1945";
}


.mobilier1-container a:hover
{
	color: black;
}
.mobilier1-container a
{
	text-decoration: none;
	color: white;
	text-align: center;
	box-shadow: 4px 10px 20px black;
}


.devis
{
	text-decoration: none;
	background-color: #482828;
	color: white;
	font-family: "Depuis1945";
	padding: 10px 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}

.devis:hover
{
	background-color: black;
}

.newsletter
{
	text-align: center;
}
